* {
    cursor: none!important;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(165, 165, 165);
}
::-webkit-scrollbar-thumb {
    background: rgb(60, 60, 60);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(45,45,45);
}
body {
    background-color: rgb(60, 60, 60);
}
.img-fluid {
    max-width: 120px;
    max-height: 120px;
}
p {
    color: rgb(230,230,230);
}
h3 {
    color: rgb(230,230,230);
}
.container-fluid {
    min-height: 937px;
}
.good {
    font-weight:bold;
}
.role {
    color:rgb(230, 230, 230);
    margin-bottom:0px;
}
.page_header {
    background-color:rgb(45,45,45);
}
.display-3 {
    /*color:rgb(230, 230, 230);*/
    animation: rgb 5s linear 0s infinite;
    font-style: italic;
    font-weight: bold;
}
@keyframes rgb {
    0% {color:red;}
    17% {color:orange;}
    34% {color:yellow;}
    51% {color:green;}
    68% {color:blue;}
    85% {color:purple;}
    100% {color:red;}
}
.box {
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 10px;
    background-color:rgb(92, 92, 92);
    display:flex;
    flex-direction:row;
    margin: 2px 0px;
}
.vert {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    padding:5px;
    text-align:center;
    color:rgb(185, 185, 185);
}
.counter_header {
    color: rgb(92, 92, 92);
}
.col {
    align-items: middle;
    display: flex;
}
.chart_img {
    object-fit:cover;
    max-width: 100%;
}
.right_panel {
    background-color: rgb(30,30,30);
    min-height: 937px;
    padding-top:10px;
}
.left_panel {
    padding-top:10px;
}
.bi {
    color:rgb(185, 185, 185);
}
.header_link {
    color: rgb(185, 185, 185);
    transition: color 0.5s;
}
.header_link:hover {
    color: rgb(255,255,255);
    text-decoration: none;
}
.list-group-item {
    background-color: rgb(45,45,45);
    color:rgb(185, 185, 185);
}
#vid {
    visibility: hidden;
    z-index:99;
    transform:translate(300px,-950px);
}
#cursor {
    height: 40px;
    width: 40px;
    position: fixed;
    z-index: 100;
    pointer-events: none;
}