body {
    background-color: rgb(60, 60, 60);
}
.img-fluid {
    max-width: 120px;
    max-height: 120px;
}
p {
    color: rgb(230,230,230);
}
h3 {
    color: rgb(230,230,230);
}
.container {
    background-color: rgb(45, 45, 45);
    min-height: 937px;
}
.good {
    font-weight:bold;
}
.role {
    color:rgb(230, 230, 230);
    margin-bottom:0px;
}
.page_header {
    background-color:rgb(45,45,45);
    margin-bottom: 10px;
}
.display-3 {
    /*color:rgb(230, 230, 230);*/
    animation: rgb 5s linear 0s infinite;
    margin: 10px 0px 30px 0px;
    font-style: italic;
    font-weight: bold;
}
@keyframes rgb {
    0% {color:red;}
    17% {color:orange;}
    34% {color:yellow;}
    51% {color:green;}
    68% {color:blue;}
    85% {color:purple;}
    100% {color:red;}
}
.box {
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 10px;
    background-color:rgb(92, 92, 92);
    display:flex;
    flex-direction:row;
    margin: 2px 0px;
}
.vert {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    padding:5px;
    text-align:center;
    color:rgb(185, 185, 185);
}
.counter_header {
    color: rgb(92, 92, 92);
}
.col {
    align-items: middle;
    display: flex;
}
.chart_img {
    object-fit:cover;
    max-width: 100%;
}